*body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Cairo', sans-serif;
}
.fondoformulario {
  background-color: #660066;
}

.letrainicial {
  font-family: 'Cairo', sans-serif;
  font-size: 40px;
  margin-top: 10px;
}

.fotodetras {
margin-top: 90px;
width: 100vw;
}

.textoseccion {
text-align: center;
font-family: 'Cairo', sans-serif;
padding: 10px;
margin-top: 25px;
margin-bottom: 25px;
}

.textocentrado {
  text-align: center;
}
hr {
  width: 100px;
}
.centrado {
  margin-top: 30px;
  margin-left: 260px;
  margin-bottom: 60px;
}
.espacio {
width: 70%;
height: 70%;
margin-left: 50px;
margin-top: 70px;
}

.colorfondo{
  background-color: #660066;
}

.margenabajo {
margin-bottom: 40px;
}

.textoalineadocentro {
  text-align: center;
  padding-top: 10px;
}


.btn-primary {
  font-family: 'Cairo', sans-serif;
  background-color: #660066;
  border: 0px;
  align-items: center;
}
.textofooter {
  font-family: 'Cairo', sans-serif;
  color: #373A3C;
  text-align: center;
}

.fondofinal {
  background-color: #660066;
  padding-top: 20px;
  padding-bottom: 20px;
font-family: 'Cairo', sans-serif;
text-align: center;
}

.fondofinalfiguras {
  background-color: #660066;
font-family: 'Cairo', sans-serif;
display: inline-block;
}

h2 {
text-align: center;
padding: 30px;
}

.paraelboton {
  padding-left: 47%;
  padding-right: 50%;
}
footer {
  width: 100vw;
}
.fondofinalfiguras i {
margin: auto;
font-size: 70px;
padding: 20px;
}
