body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Cairo', sans-serif;
}
.fondoformulario {
  background-color: #660066;
}

.letrainicial {
  font-size: 50px;
  font: condensed 60%;
  margin-top: 10px;
}

.fotodetras {
margin-top: 90px;
width: 100%;
}

.textoseccion {
text-align: center;
font-family: 'Cairo', sans-serif;
padding: 10px;
margin-top: 25px;
margin-bottom: 25px;
}

.textocentrado {
  text-align: center;
  margin-top: 25px;
}
hr {
  width: 100px;
}
.centrado {
  margin-top: 30px;
  margin-left: 260px;
  margin-bottom: 60px;
}
.espacio {
width: 70%;
height: 70%;
margin-left: 50px;
margin-top: 70px;
}

.colorfondo {
  background-color: #660066;
  padding: 2%;
}

.margenarriba {
margin-top: 40px;
}

.margenabajo {
margin-bottom: 40px;
}
